.add-plan {
  margin-top: -15px;
  padding-top: 29px;
  padding-bottom: 64px;
  color: #1d2e5b;
  background-color: #d4d9eb;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.add-plan__container {
  position: relative;
  z-index: 10;
  width: $mobile-width;
  min-height: 60px;
  margin: 0 auto;
  padding: 0 25px;
}

.add-plan__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.add-plan__title {
  margin: 0;
}

.add-plan__indicators-wrapper {
  display: flex;
  padding-right: 20px;
}

.add-plan__indicator {
  width: 5px;
  height: 5px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: rgba(#808285, 0.3);

  &:last-child {
    margin-right: 0;
  }

  &--current {
    background-color: #1d2e5b;
  }
}

.add-plan__step {
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .add-plan {
    padding-top: 46px;
    padding-bottom: 71px;
  }

  .add-plan__container {
    position: relative;
    z-index: 10;
    width: $tablet-width;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .add-plan__content {
    padding: 0 35px;
  }

  .add-plan__title-wrapper {
    margin-bottom: 49px;
  }

  .add-plan__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -0.1px;
  }

  .add-plan__indicators-wrapper {
    margin-bottom: 3px;
    padding-right: 0;
  }

  .add-plan__indicator {
    margin-right: 29px;
  }

  .add-plan__step {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .add-plan {
    margin-top: -60px;
    padding-top: 49px;
    padding-bottom: 86px;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }

  .add-plan__container {
    position: relative;
    z-index: 10;
    width: $desktop-width;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 60px;
  }

  .add-plan__content {
    padding: 0;
  }

  .add-plan__title-wrapper {
    padding-left: 70px;
  }

  .add-plan__indicators-wrapper {
    display: none;
  }

  .add-plan__step {
    margin-bottom: 44px;
  }
}
