.calendar {
  display: block;
}

.calendar__month-selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  padding: 12px 0 10px;
  border-top: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;
}

.calendar__month-button {
  width: 9px;
  height: 18px;
  padding: 0;
  opacity: 0.3;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;

  &--prev {
    background-image: url("../img/month-arrow-left.svg");
  }

  &--next {
    background-image: url("../img/month-arrow-right.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }
}

.calendar__month-name {
  margin: 0;
  padding-left: 2px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #1d2e5b;
}

.calendar__days {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  border-collapse: collapse;
}

.calendar__body {
  border: 1px solid #cbced9;
}

.calendar__day {
  box-sizing: border-box;
  padding: 7px 6px 9px 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  &--day-off {
    color: #ff5c23;
  }
}

.calendar__day-letter {
  display: none;
}

.calendar__row {
  border-bottom: 1px solid #cbced9;

  &:last-child {
    border-bottom: none;
  }
}

.calendar__cell {
  width: 30px;
  height: 31px;
  box-sizing: border-box;
  border-right: 1px solid #cbced9;

  &:nth-child(7n) {
    border-right: none;
  }
}

.calendar__day-number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3px 0px 0 1px;
  font-size: 14px;
  color: #444444;
  background-color: #edeff6;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: #1d2e5b;
  }

  &:hover::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 31px;
    height: 31px;
    border: 2px solid #ff5c23;
  }
}

.calendar__first-day {
  display: none;
}

.calendar__cell input:disabled+.calendar__day-number {
  color: rgba(#444444, 0.3);
  background-color: transparent;
  cursor: default;
}

.calendar__cell input:disabled+.calendar__day-number:hover::after {
  display: none;
}

.calendar__cell input:checked+.calendar__day-number {
  position: relative;
  color: #ffffff;
  background-color: #101d41;

  &:hover::after,
  &:focus::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1000;
    width: 31px;
    height: 31px;
    border: 2px solid #ff5c23;
  }
}

.calendar__cell input:focus+.calendar__day-number {
  &::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1000;
    width: 31px;
    height: 31px;
    border: 2px solid #ff5c23;
  }
}

@media (min-width: $tablet-width) {
  .calendar__month-selection {
    margin-bottom: 31px;
    padding: 27px 17px 19px;
  }

  .calendar__month-button {
    width: 19px;
    height: 34px;
  }

  .calendar__month-name {
    font-size: 36px;
    line-height: normal;
  }

  .calendar__day {
    padding: 1px 12px 3px 17px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.8px;
  }

  .calendar__day-letter {
    display: inline;
  }

  .calendar__cell {
    width: 70px;
    height: 69px;
  }

  .calendar__day-number {
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;

    &:hover::after {
      top: -3px;
      left: -3px;
      z-index: 100;
      width: 80px;
      height: 72px;
      border: 4px solid #ff5c23;
    }
  }

  .calendar__cell input:checked+.calendar__day-number {

    &:hover::after,
    &:focus::after {
      top: -3px;
      left: -3px;
      width: 80px;
      height: 72px;
      border: 4px solid #ff5c23;
    }
  }

  .calendar__cell input:focus+.calendar__day-number {
    &::after {
      top: -3px;
      left: -3px;
      width: 80px;
      height: 72px;
      border: 4px solid #ff5c23;
    }
  }
}

@media (min-width: $desktop-width) {
  .calendar__month-selection {
    margin-bottom: 0;
    padding: 26px 0 20px;
  }

  .calendar__day {
    padding: 12px 16px 13px 16px;
    text-align: left;
  }

  .calendar__day-letter {
    display: inline;
  }

  .calendar__cell {
    position: relative;
    width: 143px;
    height: 71px;
  }

  .calendar__day-number {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 13px 13px;
    font-weight: normal;

    &:hover::after {
      width: 146px;
      height: 74px;
    }

    &--check-in::before,
    &--check-out::before {
      position: absolute;
      top: 33px;
      left: 15px;
      font-size: 18px;
      font-weight: normal;
      line-height: 30px;
      letter-spacing: 1.8px;
      color: #ffffff;
    }

    &--check-in::before {
      content: "Заезд";
    }

    &--check-out::before {
      content: "Выезд";
    }
  }

  .calendar__first-day {
    display: flex;
  }

  .calendar__cell input:checked+.calendar__day-number {

    &:hover::after,
    &:focus::after {
      width: 146px;
      height: 74px;
    }
  }

  .calendar__cell input:focus+.calendar__day-number {
    &::after {
      width: 146px;
      height: 74px;
    }
  }
}
