.catalog {
  color: #444;
  background-color: #e2e5f2;
}

.catalog__container {
  width: $mobile-width;
  min-height: 200px;
  margin: 0 auto;
  padding: 0 25px;
  padding-top: 24px;
}

@media (min-width: $tablet-width) {
  .catalog__container {
    width: $tablet-width;
    min-height: 200px;
    margin: 0 auto;
    padding: 0 40px;
    padding-top: 46px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: $desktop-width;
    min-height: 200px;
    margin: 0 auto;
    padding: 0 60px;
    padding-top: 0;
  }
}
