.companions__container {
  padding: 0 25px;
  padding-top: 73px;
  padding-bottom: 30px;
}

.companions__item {
  margin-bottom: 10px;
}

.companions__title {
  color: #ff8d30;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.companions__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.companions__text--bold {
  font-weight: 700;
}

.companions__count {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.companions__level {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.companions__info-wrapper {
  background-color: #ffffff;
}

.companions__name {
  color: #1d2e5b;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.companions__tags {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.companions__button {
  margin-top: 10px;
}
