.intro {
  min-height: 478px;
  background: url("../../img/globe-back-mobile@1x.jpg") no-repeat 0 0;
}

.intro__container {
  padding: 0 25px;
}

.intro__slogan {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}
