.plans {
  padding-top: 29px;
  padding-bottom: 56px;
  background-color: #dfe3f0;
  color: #1d2e5b;
}

.plans__container {
  padding: 0 25px;
}

.plans__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.plans__countries {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.plans__profile {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.plans__date {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.plans__change {
  color: rgba(#000000, 0.3%);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
