.plans {
  padding: 5px 0 27px;
  background-color: #dfe3f0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.plans__container {
  position: relative;
  z-index: 10;
  width: $mobile-width;
  min-height: 60px;
  margin: 0 auto;
  padding: 0 25px;
}

.plans__title {
  margin-bottom: 29px;
  color: #1d2e5b;
}

.plans__list {
  @include list-reset;
  margin-bottom: 18px;
}

.plans__list-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .plans {
    padding: 17px 0 74px;
  }

  .plans__container {
    position: relative;
    z-index: 10;
    width: $tablet-width;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .plans__content {
    padding: 0 35px;
  }

  .plans__title {
    margin-bottom: 44px;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -0.2px;
  }
}

@media (min-width: $desktop-width) {
  .plans {
    padding-top: 16px;
    padding-bottom: 123px;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }

  .plans__container {
    position: relative;
    z-index: 10;
    width: $desktop-width;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 60px;
  }

  .plans__content {
    padding: 0 0 0 64px;
  }

  .plans__title {
    margin-bottom: 44px;
    padding-left: 7px;
  }

  .plans__list {
    margin-top: 0;
    margin-bottom: 0;
  }

  .plans__list-item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
