.range {
  width: 100%;
}

.range__price-controls {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 102px;
    z-index: 3;
    box-sizing: content-box;
    width: 16px;
    height: 1px;
    background-color: #cbced9;
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
  }
}

.range__min-price,
.range__max-price {
  background-color: #ffffff;
  border: 1px solid #cbced9;
  cursor: pointer;
}

.range__min-price {
  margin-right: -1px;
  border-radius: 4px 0 0 4px;
}

.range__max-price {
  border-radius: 0 4px 4px 0;
}

.range__input {
  width: 108px;
  height: 33px;
  padding: 0 25px;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  border: none;
  border-radius: 4px;
  color: #1d2e5b;
}

.range__controls {
  position: relative;
  margin-bottom: 26px;
}

.range__controls .range__scale {
  height: 2px;
  background-color: #d2b54e;
}

.range__controls .range__bar {
  width: 69%;
  height: 2px;
  margin-left: 31%;
  background-color: #1d2e5b;
}

.range__toggle {
  position: absolute;
  top: -4px;
  width: 4px;
  height: 4px;
  border: 5px solid #1d2e5b;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    top: -7px;
    border-width: 8px;
  }

  &:active {
    box-shadow: 0 3px 7px rgba(29, 46, 91, 0.35);
  }
}

.range__toggle-min {
  left: 67px;
}

.range__toggle-max {
  left: 210px;
}

@media (min-width: $tablet-width) {
  .range {
    width: 492px;
  }

  .range__price-controls {
    position: relative;
    display: flex;
    align-items: center;
    order: 2;
    margin-bottom: 10px;

    &::after {
      top: 15px;
      right: 64px;
      width: 21px;
      height: 1px;
      border-top: 7px solid #ffffff;
      border-bottom: 7px solid #ffffff;
    }
  }

  .range__min-price,
  .range__max-price {
    background-color: #ffffff;
    border: 1px solid #cbced9;
    cursor: pointer;
  }

  .range__min-price {
    margin-right: -1px;
    border-radius: 4px 0 0 4px;
  }

  .range__max-price {
    border-radius: 0 4px 4px 0;
  }

  .range__input {
    width: 73px;
    height: 44px;
    padding: 0 10px;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    border: none;
    border-radius: 4px;
    color: #1d2e5b;
  }

  .range__controls {
    position: relative;
    width: 277px;
    margin-bottom: 13px;
  }

  .range__controls .range__scale {
    height: 3px;
  }

  .range__controls .range__bar {
    width: 71%;
    height: 3px;
    margin-left: 29%;
  }

  .range__toggle {
    position: absolute;
    top: -4.6px;
    width: 4px;
    height: 4px;
    border: 6.5px solid #1d2e5b;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      top: -7px;
      border-width: 8px;
    }
  }

  .range__toggle-min {
    left: 25%;
  }

  .range__toggle-max {
    left: 97%;
  }
}

@media (min-width: $desktop-width) {
  .range {
    flex-direction: column;
    width: 100%;
  }

  .range__price-controls {
    position: relative;
    display: flex;
    align-items: center;
    order: 1;
    margin-bottom: 36px;
    margin-left: 1px;

    &::after {
      top: 15px;
      right: 85px;
      width: 21px;
      height: 1px;
      border-top: 7px solid #ffffff;
      border-bottom: 7px solid #ffffff;
    }
  }

  .range__input {
    width: 94px;
    height: 44px;
    padding: 0 16px;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: normal;
    text-align: center;
    border: none;
    border-radius: 4px;
  }

  .range__controls {
    position: relative;
    order: 2;
    width: 190px;
    margin-bottom: 26px;
  }

  .range__controls .range__scale {
    height: 3px;
  }

  .range__controls .range__bar {
    width: 68%;
    height: 3px;
    margin-left: 32%;
  }

  .range__toggle {
    position: absolute;
    top: -5px;
    width: 4.5px;
    height: 4.5px;
    border: 6.5px solid #1d2e5b;
    border-radius: 50%;
    cursor: pointer;
  }

  .range__toggle-min {
    left: 59px;
  }

  .range__toggle-max {
    left: 178px;
  }
}
