.reviews {
  background-color: #161c35;
}

.reviews__container {
  padding: 0 25px;
}

.reviews__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.reviews__author-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
