.reviews {
  background-color: #161c35;
}

.reviews__item {
  width: 270px;
  margin: 0;
  margin-bottom: 106px;
  padding-top: 16px;
  padding-right: 75px;
  padding-bottom: 24px;
  padding-left: 25px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.reviews__author {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 290px;
    background-color: transparent;
  }

  .reviews__item {
    width: 270px;
    margin: 0;
    margin-bottom: 106px;
    padding-top: 64px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .reviews__text {
    margin: 0;
    margin-bottom: 43px;
    font-weight: 300;
    font-size: 27px;
    line-height: 33px;
    letter-spacing: 0.5px;
  }

  .reviews__author {
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 300px;
  }

  .reviews__item {
    width: 290px;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .reviews__text {
    margin: 0;
    margin-bottom: 43px;
    font-weight: 300;
    font-size: 27px;
    line-height: 33px;
    letter-spacing: 0.5px;
  }

  .reviews__author {
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    font-style: normal;
  }
}
