.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  @include list-reset;

  &--footer {
    justify-content: center;
  }
}

.social-list__link {
  position: relative;
  display: flex;
  width: 45px;
  height: 45px;
  font-size: 0;
  border-radius: 50%;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(77, 144, 254, 0.5);
  }
}

.social-list__svg {
  position: absolute;
  fill: #cccccc;

  &--facebook {
    top: 13px;
    left: 17px;
  }

  &--vkontakte {
    top: 18px;
    left: 11px;
  }

  &--instagram {
    top: 14px;
    left: 14px;
  }

  &:hover {
    fill: #bbbbbb;
  }

  &:active {
    fill-opacity: 0.5;
  }
}

.social-list__link--footer {
  background-color: #ffd74b;

  &:hover {
    background-color: #ffbd30;
  }
}

.social-list__link--footer .social-list__svg {
  fill: #1d2e5b;
}

.social-list__link--footer:active .social-list__svg {
  fill-opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social-list--footer {
    width: 180px;
    align-self: flex-start;
  }

  .social-list__link {
    display: flex;
    width: 60px;
    height: 60px;
    font-size: 0;
    border-radius: 50%;
  }

  .social-list__svg {
    &--facebook {
      top: 16px;
      left: 23px;
      width: 14px;
      height: 28px;
    }

    &--vkontakte {
      top: 23px;
      left: 14px;
      width: 31px;
      height: 16px;
    }

    &--instagram {
      top: 18px;
      left: 18px;
      width: 24px;
      height: 24px;
    }
  }
}
