.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 0;
  background-color: transparent;
  border-radius: 50px;

  &--facebook {
    background-position: 17px 13px;
  }

  &--vkontakte {
    background-position: 11px 18px;
  }

  &--instagram {
    background-position: 14px 14px;
  }
}

.social-list__link--footer {
  background-color: #ffd74b;

  &:hover {
    background-color: #ffbd30;
  }

  &:active .social-list__image {
    opacity: 0.5;
  }
}
