.support {
  background-color: #192144;
}

.support__container {
  padding: 0 25px;
  padding-top: 72px;
  padding-bottom: 45px;
}

.support__title {
  color: #ff8d30;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.support__registration {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.support__link {
  color: #ffd74b;
  text-decoration: underline;
}

.support__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
