.user-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 270px;
}

.user-nav__list {
  display: flex;

  @include list-reset;
}

.user-nav__item {
  margin-bottom: 0;
}

.user-nav__link {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  padding: 20px;
  font-size: 0;
  text-transform: uppercase;
  border-radius: 50px;

  &--tel {
    background-color: #ff8d30;

    &:hover {
      background-color: #f26926;
    }

    &:active::before {
      opacity: 0.3;
    }
  }

  &--mail {
    background-color: #ffbd30;

    &:hover {
      background-color: #ff8d30;
    }

    &:active::before {
      opacity: 0.3;
    }
  }

  &--tel::before,
  &--mail::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 11px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 0;
  }

  &--tel::before {
    background-image: url("../../img/topmenu-phone.svg");
    background-position: 1px 0;
    background-size: 18px 18px;
  }

  &--mail::before {
    background-image: url("../../img/topmenu-mail.svg");
    background-position: 0 2px;
    background-size: 18px 14px;
  }
}

.user-nav__login {
  padding: 5px 39px 5px 37px;
  letter-spacing: 0.2px;
}
